<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mesajplus.sms" version="2.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mesaj Plus</name>
    <description>
     Mesaj Plus sms terminali içeren sürümüdür.
    </description>
    <author email="ademcalhan@yandex.com" href="https://mesajplus.com">
      Adem Çalhan
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Fullscreen" value="false" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="android-minSdkVersion" value="24" />
	<preference name="android-targetSdkVersion" value="28" />
    <plugin name="cordova-plugin-file" source="npm" spec="~4.1.1" />
    <plugin name="cordova-plugin-file-transfer" source="npm" spec="~1.5.0" />
    <plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
	<plugin spec="https://github.com/rampicos/Cordova-SMS-Plugin" source="git" />
	<plugin spec="https://github.com/floatinghotpot/cordova-plugin-sms.git" source="git" />

	
	

	<access origin="*" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="android">
        <icon density="ldpi" src="res/icon/android/icon-36-ldpi.png" />
        <icon density="mdpi" src="res/icon/android/icon-48-mdpi.png" />
        <icon density="hdpi" src="res/icon/android/icon-72-hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />
            <allow-intent href="market:*" />
	 </platform>

    <engine name="android" spec="^7.1.4" />
</widget>
